body {

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width : 360px;
    margin: 0 auto;
    border: black solid 2px;
}

.container > div  {
    aspect-ratio: 1;
    background-color: grey;
    gap: .5px;
    
}

 .resetBtn {
    display: block;
    margin:  0 auto;
    margin-bottom: 10px;
}

