body {

}

.container {
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    width : 360px;
    margin: auto;
}

.container > div {
    aspect-ratio: 1;
    background-color: grey;
    gap: .5px;
    
}

 .resetBtn {
    display: block;
    margin:  0 auto;
    margin-bottom: 10px;
    
}